<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	
	<log4net>

		<appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
			<file value="logs\suit.log" />
		  <appendToFile value="true" />
		  <rollingStyle value="Size" />
		  <maxSizeRollBackups value="10" />
		  <maximumFileSize value="10MB" />
		  <staticLogFileName value="true" />
		  <encoding value="utf-8" />
		  <layout type="log4net.Layout.PatternLayout">
		    <conversionPattern value="[%date{dd.MM. HH:mm:ss.fff}] %-5level - %C{1}.%M - %message%newline" />
		  </layout>
		  <filter type="log4net.Filter.LevelRangeFilter">
		    <levelMin value="DEBUG" />
		  </filter>
		</appender>
		
    <root>
			<level value="ALL" />
			<appender-ref ref="RollingFile" />
		</root>
	</log4net>
	
</configuration>